.optionText {
    -fx-font: 42px "Javanese Text";
}

.inputText {
    -fx-font: 30px "Javanese Text";
    -fx-highlight-fill: lightblue;
    -fx-highlight-text-fill: black;
}


Label.buttonText {
    -fx-font: 50px "Javanese Text";
    -fx-padding: 0 50 0 50;
}

Label.buttonText:hover {
    -fx-background-color: lightgrey;
}